<!-- Scroll-to-top -->
<img src="../../../assets/images/iconScroll.png" id="myBtn" onclick="topFunction()" alt="iconArrow">

<!-- Sección whatsapp -->
<div class="container">
  <a
    target="_blanck"
    href="https://wa.me/+573175153658/?text=¡Hola! Deseo obtener más información de los servicios de limpieza y desinfección."
  >
    <img class="whatsapp" src="../../../assets/images/whaticon.png" alt="icono-whatsapp" />
  </a>
</div>

<!-- Footer -->
<footer class="page-footer">
  <div class="container mt-5">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="mt-5">IML S.A.S Imágen, Mantenimiento y Limpieza</h5>
        <p class="grey-text text-lighten-4">Empresa 100% Colombiana.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="mt-5">Nuestras redes</h5>
        <ul class="listaFormulario">
          <li><a href="#!">Facebook</a></li>
          <li><a href="#!">Instagram</a></li>
          <li>
            <a
              target="_blanck"
              href="https://wa.me/+573175153658/?text=¡Hola! Deseo obtener más información de los servicios de limpieza y desinfección."
              >Whatsapp</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Encuentrenos">
    <div class="container">
      © 2020 Copyright IML Colombia S.A.S
      <a class="text-lighten-4 right"></a>
    </div>
  </div>
</footer>
