<section>
    <h1 class="tituloNosotros">Nuestros servicios</h1>

    <!-- Servicios info. -->

    <div class="container mt-3">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-head" id="headingOne">
            <h2 class="mb-0">
              <button
                id="boton"
                class="btn btn-link btn-block text-left"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Desinfección por Termo Nebulización
              </button>
            </h2>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <p class="parrafosContenido">
                Es una técnica de desinfección rápida y eficaz contra el
                coronavirus y otras bacterias, este método nos permite
                realizar un tratamiento más uniforme, abarcando lugares
                inaccesibles, además es un procedimiento contra el covid 19
                que ya fue usado en las desinfecciones de Wuhan y china con
                gran éxito y en la práctica es la técnica más puntera en
                países de Europa y Asia.<br />
                - Los productos que utilizamos fueron incluidos por la Agencia
                de protección ambiental de los EEUU (EPA), el 9 de abril en su
                lista de productos como uno de los desinfectantes efectivos
                para combatir el SARS.<br />
                - Nuestros Productos no contienen Fósforo ni sustancias que
                afecten el medio ambiente.<br />
                - No corroen metales en las dosis que utilizamos.<br />
                - Las materias primas que empleamos, no se encuentran
                consideradas como peligrosas según el ministerio de salud y
                medio ambiente ni otras entidades gubernamentales.<br />
              </p>
              <h3>¿Cómo lo hacemos?</h3>
              <p>
                Usamos máquinas Termo Nebulizadoras que expulsan vapor de
                agua, el cual llega a lugares inalcanzables, de una forma
                rápida y efectiva, junto con una serie de agentes
                desinfectantes de quinta generación que matan micro organismos
                patógenos en todas las superficies, virus y bacterias, en
                especial el SARS C19 en un 100%, a diferencia de bombas de
                fumigación que no logran penetrar todas las superficies y
                rincones de los espacios pretendidos. <br />
                Este procedimiento también es muy utilizado en sitios con
                presencia de Zancudos y mosquitos, especialmente en algunos
                conjuntos residenciales, restaurantes campestres, sitios
                turísticos, fincas, entre otros.
              </p>
              <h3>¿En qué lugares lo hacemos?</h3>
              <p>
                Conjuntos residenciales, edificios, empresas, oficinas,
                bodegas, bancos, clínicas, hospitales, colegios,
                universidades, bibliotecas, restaurantes, residencias,
                estadios y toda clase de sitios en los que se pueda suscitar
                este tipo de virus y bacterias.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head" id="headingTwo">
            <h2 class="mb-0">
              <button
                id="boton"
                class="btn btn-link btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Avisos Publicitarios
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <p class="parrafosContenido">
                Fabricamos, limpiamos, y hacemos mantenimiento a toda clase de
                avisos publicitarios luminosos y no luminosos. Fabricamos
                avisos en Panaflex de 15 Oz con bombillos de 31 vatios ó LED,
                avisos no luminosos, rompe tráficos, esquineros o triángulos
                de colgar, avisos con estructura de bastidor, avisos en Banner
                de 13 Oz, pendones e impresiones en gran formato. En muchas
                ocasiones pasan los meses e incluso los años y los avisos no
                reciben ningún tipo de mantenimiento ni limpieza; el polvo, la
                tierra, el agua, el sol, entre otros factores, van
                deteriorando en gran manera estos avisos, generando una mala
                imagen para el establecimiento que lo posee y para la marca en
                general. Somos profesionales en limpieza de avisos
                publicitarios, lavamos, despercudimos y aplicamos Filtro UV,
                el cual crea una capa protectora que repele la mugre, la
                tierra, el polvo y a la vez realza los colores, dándole una
                apariencia de nuevo.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head" id="headingThree">
            <h2 class="mb-0">
              <button
                id="boton"
                class="btn btn-link btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Limpieza de Vidrios y Fachadas
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <p class="parrafosContenido">
                Las condiciones climáticas extremas hacen que los vidrios y
                las fachadas se cubran de smock, tierra, polvo, que terminan
                convirtiéndose en hongos que a la vez se reproducen y generan
                otro tipo de costras que se van calcificando, por esta razón
                es necesario removerlas periódicamente, contamos con personal
                idóneo y cumpliendo siempre con los estándares requeridos por
                la norma. Los productos que utilizamos son certificados y con
                los más altos estándares de calidad.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head" id="headingFour">
            <h2 class="mb-0">
              <button
                id="boton"
                class="btn btn-link btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Reparaciones Locativas
              </button>
            </h2>
          </div>
          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <p class="parrafosContenido">
                Realizamos arreglos locativos en edificaciones tales como
                reconstrucciones, levantamientos de paredes, pintura, arreglo
                e instalación de rejas, y toda clase de reparaciones locativas
                en el sector privado, público y gubernamental.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head" id="headingFive">
            <h2 class="mb-0">
              <button
                id="boton"
                class="btn btn-link btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Limpieza de Cajeros Automáticos
              </button>
            </h2>
          </div>
          <div
            id="collapseFive"
            class="collapse"
            aria-labelledby="headingFive"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <p class="parrafosContenido">
                Los cajeros automáticos, son lugares que reciben gran cantidad
                de personas diariamente, cada persona tiene un olor que lo
                caracteriza, olor que va quedando impregnado en lugar, a veces
                estos mini locales tienen mal olor, la basura rebosa las
                canecas del lugar, quedando basura en el piso, lavamos,
                limpiamos y desodorizamos el lugar para generar un buen
                impacto en los clientes que usan este servicio.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head" id="headingSix">
            <h2 class="mb-0">
              <button
                id="boton"
                class="btn btn-link btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Otros Servicios de Limpieza
              </button>
            </h2>
          </div>
          <div
            id="collapseSix"
            class="collapse"
            aria-labelledby="headingSix"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <p class="parrafosContenido">
                Suministramos personal idóneo para prestar el servicio de
                limpieza en conjuntos residenciales, edificios, oficinas,
                bancos, clínicas, hospitales, residencias y todo tipo de
                entidades. Siempre bajo los más altos estándares de calidad
                tanto en productos como en personal calificado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slider galeria -->
    <div class="conteiner mt-5">
      <h2 class="tituloGaleria">¡Revisa nuestra galería!</h2>

      <div class="container mt-5">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen10.jpg"
                alt="imagen10"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen11.jpg"
                alt="imagen11"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen12.jpg"
                alt="image12"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen13.jpg"
                alt="image13"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen14.jpg"
                alt="image14"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen15.jpg"
                alt="image15"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen16.jpg"
                alt="image16"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen17.jpg"
                alt="image17"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen18.jpg"
                alt="image18"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen19.jpg"
                alt="image19"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen20.jpg"
                alt="image20"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen21.jpg"
                alt="image21"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen22.jpg"
                alt="image22"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen23.jpg"
                alt="image23"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen24.jpg"
                alt="image24"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen25.jpg"
                alt="image25"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen26.jpg"
                alt="image26"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen27.jpg"
                alt="image27"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen28.jpg"
                alt="image28"
              />
            </div>
            <div class="carousel-item">
              <img
                class="imagenSlider img-fluid"
                src="../../../assets/images/Imagen29.jpg"
                alt="image29"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <h3 class="tituloServicios">¡Mira algunos de nuestros servicios!</h3>

      <div class="row mx-md-n5">
        <video
          id="videoServicios"
          class="col px-md-5"
          controls
          src="../../../assets/videos/Video2.mp4"
        ></video>
        <video
          id="videoServicios"
          class="col px-md-5"
          controls
          src="../../../assets/videos/Video3.mp4"
        ></video>
      </div>
    </div>
  </section>
  <!-- Contactenos -->
<div class="card-contact">
  <h5 class="card-header">¿Tienes dudas?</h5>
  <div class="card-body">
    <h5 class="card-title">¡Contáctenos!</h5>
    <p class="card-text">
      ¿Tienes dudas o estás interesado en algunos de nuestros servicios?
    </p>
    <a [routerLink]="['/contactenos']" class="btn-contact">Click aquí</a>
    <p class="card-text mt-3">
      O también puedes comunicarte con nosotros a través de Whatsapp dando click
      al icono!
    </p>
  </div>
</div>
<app-footer></app-footer>
