<h1 class="tituloNosotros">¿Quienes somos?</h1>

<header class="row justify-content-center">
  <div class="container">
    <video
      autoplay
      width="100%"
      controls
      class="embed-responsive-item"
      controls
      src="../../../assets/videos/Video1.mp4"
    ></video>
  </div>
</header>

<section class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="card-title">Misión</h3>
      <div class="content">
        <img
          src="../../../assets/images/Imagen17.jpg"
          alt="logoIML"
          class="image"
          style="width: 100%; height: 294px"
        />
        <div class="parrafo">
          <p>
            Contribuir a mejorar notablemente la imagen y credibilidad que
            identifica a nuestros clientes en el mercado, mediante trabajos de
            excelencia, con productos de los más altos estándares de calidad,
            creando satisfacción y reconocimiento.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="card-title">Visión</h3>
      <div class="content">
        <img
          src="../../../assets/images/Imagen19.jpg"
          alt="logoIML"
          class="image"
          style="width: 100%; height: 294px"
        />
        <div class="parrafo">
          <p>
            Ser una compañía líder y reconocida a nivel nacional en el servicio
            de desinfección, limpieza y mantenimiento en el sector privado,
            Publico y gubernamental.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="card-title">Principios y valores</h3>
      <div class="content">
        <img
          src="../../../assets/images/Imagen7.jpg"
          alt="logoIML"
          class="image"
          style="width: 100%; height: 294px"
        />
        <div class="parrafo">
          <p>
            Nuestros colaboradores reciben una formación en principios y valores
            dentro de su capacitación, en la cual definimos la importancia de la
            aplicación en el día a día de conceptos como: Honestidad,
            Trasparencia, Honradez, Lealtad, Compromiso y satisfacción por el
            trabajo bien hecho y por la satisfacción de nuestros clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contactenos -->
<div class="card-contact">
  <h5 class="card-header">¿Tienes dudas?</h5>
  <div class="card-body">
    <h5 class="title">¡Contáctenos!</h5>
    <p class="card-text">
      ¿Tienes dudas o estás interesado en algunos de nuestros servicios?
    </p>
    <a [routerLink]="['/contactenos']" class="btn-contact">Click aquí</a>
    <p class="card-text mt-3">
      O también puedes comunicarte con nosotros a través de Whatsapp dando click
      al icono!
    </p>
  </div>
</div>
<app-footer></app-footer>
