<!-- Slider con Boostrap -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/Imagen2.jpg" class="imgSlider" alt="imagen2" />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/Imagen3.jpg" class="imgSlider" alt="imagen3" />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/Imagen4.jpg" class="imgSlider" alt="imagen4" />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/Imagen5.jpg" class="imgSlider" alt="imagen5" />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/Imagen6.jpg" class="imgSlider" alt="imagen6" />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/Imagen7.jpg" class="imgSlider" alt="imagen7" />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>

<!-- Contenido página principal-->
<div class="container mt-5">
  <h1 class="tituloIML">
    Bienvenido a Imágen, mantenimiento y limpieza IML COLOMBIA SAS
  </h1>

  <div class="row mt-5 d-flex justify-content-center">
    <div class="card">
      <div class="card-front">
        <img class="card-img" src="../../../assets/images/Imagen30.jpg" alt="imagen30" />
        <div class="card-img-text">
          <p>Desinfección por Termo-nebulización</p>
        </div>
      </div>
      <div class="card-back">
        <h5 class="card-title">Desinfección por Termo-nebulización</h5>
        <p class="card-text">
          Técnica rápida y eficaz contra el COVID-19, otros tipos de virus y
          deiferentes tipos de bacterias, gracias a su aplicación uniforme
          logrando así llegar hasta los lugares inaccesibles.
        </p>
        <a href="servicios.html" class="card-link">Conoce más</a>
      </div>
    </div>
    <div class="card">
      <div class="card-front">
        <img class="card-img" src="../../../assets/images/Imagen31.jpg" alt="imagen31" />
        <div class="card-img-text">
          <p>Avisos Publicitarios</p>
        </div>
      </div>
      <div class="card-back">
        <h5 class="card-title">Avisos Publicitarios</h5>
        <p class="card-text">
          Fabricación, limpieza y mantenimiento de todo tipo de avisos
          publicitarios. También los protegmos del polvo y de factores
          ambientales que los deterioran. ¡Le damos una apariencia nueva a tu
          establecimiento!
        </p>
        <a href="servicios.html" class="card-link">Conoce más</a>
      </div>
    </div>
    <div class="card">
      <div class="card-front">
        <img class="card-img" src="../../../assets/images/Imagen32.jpg" alt="imagen32" />
        <div class="card-img-text">
          <p>Limpieza de Vidrios y Fachadas</p>
        </div>
      </div>
      <div class="card-back">
        <h5 class="card-title">Limpieza de Vidrios y Fachadas</h5>
        <p class="card-text">
          Retiramos la suciedad de los vidrios y fachadas provocadas por la
          contaminacion, tierra y polvo para que tu establecimiento culpla con
          los mejores estándares de calidad.
        </p>
        <a href="servicios.html" class="card-link">Conoce más</a>
      </div>
    </div>
    <div class="card">
      <div class="card-front">
        <img class="card-img" src="../../../assets/images/Imagen33.jpg" alt="imagen33" />
        <div class="card-img-text">
          <p>Reparaciones Locativas</p>
        </div>
      </div>
      <div class="card-back">
        <h5 class="card-title">Reparaciones Locativas</h5>
        <p class="card-text">
          Realizamos arreglos, recontrucciones en edificaciones del sector
          privado, público y gubernamental.
        </p>
        <a href="servicios.html" class="card-link">Conoce más</a>
      </div>
    </div>
    <div class="card">
      <div class="card-front">
        <img class="card-img" src="../../../assets/images/Imagen34.jpg" alt="imagen34" />
        <div class="card-img-text">
          <p>Limpieza Cajeros Automáticos</p>
        </div>
      </div>
      <div class="card-back">
        <h5 class="card-title">Limpieza Cajeros Automáticos</h5>
        <p class="card-text">
          Limpiamos y desinfectamos cajeros automaticos para darles una
          apariencia más prolija y segura para generar seguridad y comodidad en
          los usuarios.
        </p>
        <a href="servicios.html" class="card-link">Conoce más</a>
      </div>
    </div>
    <div class="card">
      <div class="card-front">
        <img class="card-img" src="../../../assets/images/Imagen35.jpg" alt="imagen35" />
        <div class="card-img-text">
          <p>Otros Servicios</p>
        </div>
      </div>
      <div class="card-back">
        <h5 class="card-title">Otros Servicios</h5>
        <p class="card-text">
          Realizamos limpieza en conjuntos residenciales, oficinas y todo tipo
          de entidades.
        </p>
        <a href="servicios.html" class="card-link">Conoce más</a>
      </div>
    </div>
  </div>
</div>

<!-- Contactenos -->
<div class="card-contact">
  <h5 class="card-header">¿Tienes dudas?</h5>
  <div class="card-body">
    <h5 class="card-title">¡Contáctenos!</h5>
    <p class="card-text">
      ¿Tienes dudas o estás interesado en algunos de nuestros servicios?
    </p>
    <a [routerLink]="['/contactenos']" class="btn-contact">Click aquí</a>
    <p class="card-text mt-3">
      O también puedes comunicarte con nosotros a través de Whatsapp dando click
      al icono!
    </p>
  </div>
</div>
<app-footer></app-footer>
